<!-- about.html -->
<div class="jumbotron text-center">
        <h1>About Me</h1>
    </div>


<div class="about">
    <h1>About Me</h1>
    <hr>
    <b>Matt Dewey</b>
    <br> 20115 32nd Ave NE
    <br> Lake Forest Park, WA 98155
    <br>
    <div class="work_experience">
        <h4>Work Experience</h4>
        <h5>Deloitte Digital QA Engineer Seattle, WA April 2016-Present</h5>
        <ul>
            <li>Leads testing and quality assurance of mobile applications for iOS and Android platforms as well
                as web applications.</li>
            <li>Coordinates testing efforts between internal team, test automation team, and client QA team. </li>
            <li>Reviews project requirements, identifies potential risks. </li>
            <li>Forecasts QA team velocity and coordinated with project management team to identify schedule risks
                and solutions. </li>
            <li>Utilize tools such as Postman and Charles Proxy to test and validate API data, network calls, and
                server connectivity.</li>
        </ul>
        <strong>Recent Work:</strong> Constellation Brands, lululemon

        <h5>Moby, Inc. Program Manager Seattle, WA August 2015-April 2016</h5>
        <ul>
            <li>Coordinated with Chief Strategy Office and Co-Founders to set up and coordinate new projects for
                external clients and internal project efforts. </li>
            <li> Reported on current project status and health.
                <li>Forecasted project budget and resource needs. </li>
                <li>Client management and communication, including negotiating scope changes, new opportunities,
                    and associated costs. </li>
                <li> Responsible for quality assurance of overall project and scope control. </li>
                <li> Tasked with project documentation, including project proposals, estimates, statements of work,
                    business requirement documents, status reports, and other supporting documentation. </li>
                <li> Identified and assessed new client opportunities.</li>
        </ul>
        Notable Clients: Fisher-Price, Fluke, Mastin Labs

        <h5>Black Pixel Account Manager Seattle, WA May 2014-July 2015</h5>
        <ul>
            <li> Oversaw relationships with ESPN, Twitter, Funny or Die, Inspirato, and Foundation Capital. </li>
            <li>Responsible for all client communications, strategic account direction, and compliance with client
                deliverables and revenue. </li>
            <li>Reviewed all major deliverables to ensure quality standards and client expectations were met or exceeded.
            </li>
            <li> Worked closely with cross-functional (technical, creative, user experience, and quality assurance)
                teams in order to maintain continuous knowledge of project status in order to identify potential
                issues and/or opportunities within or related to the project.</li>
        </ul>
        <h5>Black Pixel Project Manager Seattle, WA May 2013-May 2014</h5>
        <ul>
            Directed efforts on the ESPN SportsCenter iOS and Android apps, with over 40 million downloads. Lead project development
            efforts on the Starbucks iOS app to integrate new technology that allows users to leave tips, rapidly
            access payment information, and refine the user experience throughout the application. Helped to
            build out the Project Management Organization by driving documentation, standardization, and hiring
            additional members of the team. Incorporated the Agile process into projects managed and helped evangelize
            the benefits across the company.
        </ul>
        Notable Clients: ESPN, Twitter, Starbucks, Funny or Die, Inspirato, Foundation Capital

        <h5>Deloitte Digital Project Manager Seattle, WA October 2011 - October 2013</h5>
        <ul>
            Utilized the Agile project management methodology to lead projects in the entertainment, news, and retail sectors of the
            iOS and Android platforms. Guided and trained clients to adopt the Agile methodologies on projects.
            Lead project efforts for the CNN iPad app that went on to be named one of Apple’s “Top 25 All-Time
            Free Apps for iPad.” Managed project efforts for the Target iPad app redesign and update that went
            on to win the People’s Voice Webby Award. Lead project efforts to design and implement updates to
            the truTV iOS apps in collaboration with truTV project teams. Operated with Strategist and Business
            Development teams to develop proposals and prototypes for new and existing clients.
        </ul>
        Notable Clients: CNN, Target, truTV, REI

        <h5>Übermind QA Engineer Seattle, WA September 2010-October 2011</h5>
        <ul>
            Lead testing efforts on the CNN iPad application, coordinating two teams of QA Engineers. Coordinated communications between
            QA team, development team, and clients for multiple application efforts. Lead test efforts on the
            CNN iReport Android app, coordinating team testing efforts, overseeing test case writing and execution,
            and communicating testing efforts to project stakeholders. Managed 5 QA Engineers, mentoring and
            guiding the development of their roles within the organization. Developed and managed quality assurance
            metrics for performance improvements of all teams. Standardized client facing project status reports
            and metrics. Collaborated with Business Development team to brainstorm and develop proposals for
            new business opportunities.
        </ul>
        Notable Clients: CNN, Fox, Madison Square Garden

    </div>
    <div class="education">
        <h4>Education</h4>
        <h5>Seattle University Bachelor of Arts Seattle, WA 2015-Present </h5>
        Majoring in Digital Cultures
        <br>

        <h5>Seattle University Web Development Certificate Seattle, WA 2016-2017</h5>
        Twelve month program with focus on HTML, CSS, and JavaScript

        <h5>Bellevue College Associate of Arts Bellevue, WA 2008-2010</h5>
        General studies with an emphasis on Computer Sciences

        <h5>Solutions IQ Certified ScrumMaster Seattle, WA </h5>
    </div>

    <a href="/Users/mdewey/Development/WATS4030/mattfromseattle/downloads/MatthewDDeweyResume.pdf" download="MatthewDDeweyResume.pdf">Download My Resume</a>
</div>