<!-- home.html -->
<div class="jumbotron" ng-app="ngAnimate">
  I am a full stack web developer who has spent over fifteen years working in software development who is looking for new opportunities
  in web development to help bring exciting products to market. I draw from my experience in quality assurance, project management,
  and web development to ensure that the highest quality product is delivered. I am searching for new career opportunities
  in web development in which I can leverage my skills and knowledge with such technologies as HTML, CSS, JavaScript (including
  Angular and VueJS frameworks), Python, and Rails. 
  <br>
  Due to my background of multiple roles in the software development life
  cycle, I am able to approach projects with a well rounded view and identify potential risks as well as solutions. Similarly,
  my experience with different groups of projects gives me a solid foundation on which I can tailor information to the appropriate
  audience, providing a more detailed explanation or more simplified depending on the situation. Because of this, I feel
  that I would be a solid asset to any company looking to hire me as a web developer.

</div>

